---
import { Image } from "astro:assets";
import subMarine from "../../../assets/submarine.png";

---

<section class="bg-base2 xl:w-[80%] mx-auto rounded-xl xl:h-[80dvh] h-[60dvh] relative 2xl:p-44 xl:p-24 p-6 text-gray-50 flex flex-col gap-2">
    <Image src={subMarine} alt="submarine" class="absolute xl:-right-[14vw] md:translate-y-0 translate-y-[50%]" data-aos="fade-left" />
    <h1 class="md:text-3xl text-xl w-[90%] text-pretty leading-snug">Pemilihan Material Kapal Selam Untuk Kedalaman</h1>
    <h2 class="md:text-6xl text-4xl font-medium">Mariana Trench</h2>
    <p class="text-sm">dengan metode <span class="md:ms-2 font-semibold md:text-2xl">AHP & SAW</span></p>
</section>