@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #ab7c32;
    --color-base-color: #205781;
    --color-base-color2: #111652;
    --font-montserrat: "Montserrat";
}