---
import AhpSection from "src/components/astro/criteria/AhpSection.astro";
import TheCriteria from "src/components/astro/criteria/TheCriteria.astro";
import WebFooter from "src/components/astro/WebFooter.astro";
import ChartHome from "src/components/vue/charts/ChartHome.vue";
import InputAlternative from "src/components/vue/criteria/InputAlternative.vue";
import MaterialSection from "src/components/vue/criteria/MaterialSection.vue";
import Layout from "src/layouts/Layout.astro";
Astro.response.headers.set("Cache-Control", "public, max-age=3600, s-maxage=3600");
---
<title>Criteria & Analysis</title>
<Layout>
    <main>
        <section class="w-full min-h-screen xl:h-screen xl:overflow-hidden text-gray-50 bg-gradient-to-b from-base-color to-base-color2 overflow-x-hidden">
            <MaterialSection client:only="vue" />
        </section>
        <TheCriteria  />
        <InputAlternative client:visible />
        <AhpSection  />
        <ChartHome client:idle />
    </main>
   <WebFooter /> 
</Layout>

