---
// export const prerender = false;
import MaterialSection from "src/components/vue/criteria/MaterialSection.vue";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
    <main>
        <MaterialSection client:only="vue" />
    </main>
</Layout>