---
import WaveBackground from "src/components/astro/composables/WaveBackground.astro";
import HomeHero from "src/components/astro/home/HomeHero.astro";
import Layout from "src/layouts/Layout.astro";
Astro.response.headers.set("Cache-Control", "public, max-age=3600, s-maxage=3600");
---

<Layout>
	<main class="min-h-screen grid place-items-center bg-[url('https://images.squarespace-cdn.com/content/v1/5bb9f390da50d330b261fdc8/1615231295778-RDJE1L1L5HCNAWAST0RD/90+copy.jpg')] bg-green-800/40 bg-blend-multiply md:bg-contain bg-cover bg-center overflow-hidden" data-aos="fade">
		<WaveBackground isHome={true} />
		<HomeHero />
	</main>
</Layout>