---
import WaveBackground from "src/components/astro/composables/WaveBackground.astro";
import HomeHero from "src/components/astro/home/HomeHero.astro";
import Layout from "src/layouts/Layout.astro";
Astro.response.headers.set("Cache-Control", "public, max-age=3600, s-maxage=3600");
---
<meta name="description" content="SPK Pemilihan Material Kapal Selam untuk Kedalaman Mariana Trench.">
<meta property="og:title" content="SPK Marina Trench" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mariana-spk.vercel.app/" />
<meta property="og:description" content="SPK Pemilihan Material Kapal Selam untuk Kedalaman Mariana Trench." />
<meta property="og:image" content="/trench.webp">

<Layout>
	<main class="min-h-[100dvh] grid place-items-center bg-[url('https://images.squarespace-cdn.com/content/v1/5bb9f390da50d330b261fdc8/1615231295778-RDJE1L1L5HCNAWAST0RD/90+copy.jpg')] bg-green-800/40 bg-blend-multiply md:bg-contain bg-cover bg-center overflow-hidden" data-aos="fade">
		<WaveBackground />
		<HomeHero />
	</main>
</Layout>