---
import TeamAvatar from 'src/components/astro/composables/TeamAvatar.astro';
import Layout from '../layouts/Layout.astro';
import type { KelompokInterface } from 'src/models/KelompokInterface';
import WaveBackground from 'src/components/astro/composables/WaveBackground.astro';
const kelompok : KelompokInterface[] = [
	{
		name: "Fathur Syah",
		npm: "065122057",
		kelas: "B",
		jobdesk: "Web & DSS Model",
		image: "",
	},
	{
		name: "Helena Octaviana",
		npm: "065122005",
		kelas: "A",
		jobdesk: "UI/UX & DSS Model",
		image: "",
	},
	{
		name: "Riri Handini",
		npm: "065122121",
		kelas: "E",
		jobdesk: "UI/UX & DSS Model",
		image: "",
	},
]

Astro.response.headers.set("Cache-Control", "public, max-age=3600, s-maxage=3600");
---

<title>Our Team</title>

<Layout>
	<WaveBackground />
	<main class="min-h-screen xl:h-screen overflow-hidden bg-gradient-to-b from-base-color to-blue-950 xl:p-24 p-6 text-gray-50">
		<section class="border-gray-300 border h-full rounded-lg p-8 flex flex-col justify-center gap-12 md:gap-20 bg-black/50 overflow-hidden relative mt-12 xl:mt-0" data-aos="zoom-out">
			<h2 class="text-center text-2xl font-semibold" data-aos="slide-down" data-aos-duration="600">Our Team</h2>
			<div class="w-full flex items-center gap-10 flex-wrap md:justify-evenly" >
				{
					kelompok.map(item => (
						<TeamAvatar {...item} />
					))
				}
			</div>
		</section>
	</main>
</Layout>