---
import ResultAhp from "src/components/vue/criteria/ResultAhp.vue";


---

<section class="w-full h-[94dvh] bg-[url('https://images.steamusercontent.com/ugc/1300926725692886328/7E012423F231CE386050AB5316A06359022F4B79/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true')] bg-black/60 bg-blend-multiply bg-size-[120%] bg-center">
    <ResultAhp client:idle />
</section>