---
const { name, npm, kelas, jobdesk, image, isMan } = Astro.props;
import { Image } from 'astro:assets';
---

<div class:list={['flex flex-col justify-center w-full px-8 mx-6 my-12 text-center rounded-md md:w-96 lg:w-80 xl:w-64 dark:text-gray-100', isMan ? "bg-gray-800" : "bg-pink-500"]}>
    <Image class="self-center flex-shrink-0 w-24 h-24 -mt-12 bg-center bg-cover rounded-full dark:bg-gray-500" loading={'lazy'} src={image! || "https://source.unsplash.com/100x100/?portrait?0"} alt={name! || "Team"} width="96" height="96" />

    <div class="flex-1 my-4">
        <p class="text-xl font-semibold leading-snug">{name || 'Nama Anggota'}</p>
        <p>{jobdesk || 'UI UX Designer'}</p>
    </div>
    <div class="flex items-center justify-center p-3 space-x-3 border-t-2">
        <p>{ npm || "065122000" }</p>
        <p>({ kelas || "A" })</p>
    </div>
</div>